.row
	.col-xs-12
		form(method='post', action=`/post/${post._id}/edit`)
			.button-area
				input.btn.btn-success.pull-right#save-post-btn(type='submit', value='Save Post')
				button(type='button', postId= post._id).btn.btn-danger#delete-post-btn Delete Post
				span.glyphicon.glyphicon-remove.pull-right#delete-post-icon-remove
				span.glyphicon.glyphicon-ok.pull-right#delete-post-icon-ok
			div
				.form-group
					textarea.form-control.post-title(name='title', rows='5' type='text') #{post.title}
				h5.post-date #[span.category Published] #{post.date.toDateString().substring(4)}
			.post-img
				img(src=`/images/posts/${post.image}` alt=`${post.image}`).img-responsive
			div
				.form-group
					input.form-control.post-title(name='category', type='text', value=(post.category))
				.form-group
					textarea.form-control.post-title(name='body', rows='10' type='text') #{post.body}