extends ../layout

block content
	.row#show-post
		h2= post.title
		h6 
			span Published
			span  #{post.date.toDateString().substring(4)}
		img(src=`/images/posts/${post.image}` alt=`${post.image}`)
		h6
			span Category
			span  #{post.category}
		p= post.body

	.row#comments
		include comment/index
	.row#new-comment
		include comment/new
