extends layout

block content
	if posts
		if !load_more_posts
			.row
				#featured.post
					div
						a(href='#')
							span.glyphicon.glyphicon-comment
							span  #{featured.comments.length}
					img(src=`/images/posts/${featured.image}` alt=`${featured.image}`).img
					h5= `${featured.category} ${featured.date.toDateString().substring(4)}`
					h2= featured.title
					p= `${featured.body.substr(0, 200)}...`
		.row.load-more-posts
			include loadposts
		if !load_more_posts
			.row
				.col-xs-1.col-xs-offset-6
					#arrow-down
						span.glyphicon.glyphicon-chevron-down