extends layout

block content
	if !featured
		.row
			.col-xs-12
				h1 There is no Post yet !
	else
		.row
			.col-xs-12
				.post-img
					.comment-counter
						div
							a(href=`/post/${featured.slug}`)
								span.glyphicon.glyphicon-comment
								span  #{featured.comments.length}
					a(href=`/post/${featured.slug}`)
						img(src=`/images/posts/${featured.image}` alt= featured.slug).img-responsive
				div
					h5.post-date #[span.category #{featured.category}] #{featured.date.toDateString().substring(4)}
				div
					h2.post-title= featured.title
					p.post-body= `${featured.body.substr(0, 200)}...`
					hr
		
		.load-more-posts
			include loadposts
		
		.row
			.col-xs-12
				#arrow-down
					span.glyphicon.glyphicon-chevron-down