each post in posts
	.col-xs-6.post
		div
			a(href=`/post/${post.title.replace(/\s+/g, "-")}`)
				span.glyphicon.glyphicon-comment
				span  #{post.comments.length}
		a(href=`/post/${post.title.replace(/\s+/g, "-")}`)
			img(src=`/images/posts/${post.image}` alt= post.image)
		h5
			span #{post.category}
			span  #{post.date.toDateString().substring(4)}
		h2= post.title
		p= `${post.body.substr(0, 200)}...`