mixin post(index)
	if posts[index]
		.col-md-6
			.post-img-list
				.comment-counter
					div
						a(href=`/post/${posts[index].slug}`)
							span.glyphicon.glyphicon-comment
							span  #{posts[index].comments.length}
				a(href=`/post/${posts[index].slug}`)
					img(src=`/images/posts/${posts[index].image}` alt= posts[index].slug).img-responsive
			div
				h5.post-date #[span.category #{posts[index].category}] #{posts[index].date.toDateString().substring(4)}
			div
				h2.post-title= posts[index].title
				p.post-body= `${posts[index].body.substr(0, 170)}...`


- for (var x = 0; x < posts.length; x += 2) 
	.row
		+post(x)
		+post(x + 1)